h1 {
    text-align: center;
}

.bookTable {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bookTable, th, tr, td {
    border: 2px solid darkred;
    border-collapse: collapse;
}

.loading {
    text-align: center;
}