.bookTable {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bookTable, th, tr, td {
    border: 2px solid darkred;
    border-collapse: collapse;
}

.errorMessage, .loading {
    text-align: center;
}

.formulario {
    margin: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.legend {
    padding-left: 10px;
}

.inputForm {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
}

.inputForm:focus {
    background: #CCC;
}

#submitBtn {
    background-color: yellow;
    width: 50%;
    margin-left: 25%;
    border: 1px solid darkred;
    border-radius: 20px;
    padding: 5px;
    font-size: 18px;
}

#submitBtn:hover {
    background-color: #CCCC00;
    cursor: pointer;
}