h1 {
    text-align: center;
}

.bookTable {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bookTable, th, tr, td {
    border: 2px solid darkred;
    border-collapse: collapse;
}

.errorMessage, .loading {
    text-align: center;
}

.formulario {
    margin: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.legend {
    float: left;
    width: 29%;
}

.inputForm {
    float: right;
    width: 70%;
    border: 1px solid black;
}

#submitBtn {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%; 
    border: 1px solid darkred;
}