h1 {
    text-align: center;
}

.bookTable {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bookTable, th, tr, td {
    border: 2px solid darkred;
    border-collapse: collapse;
}

.errorMessage, .loading {
    text-align: center;
}

.formulario {
    margin: 50px;
}

.formulario input {
    border: 1px solid black;
    height: 18pt;
}