header {
    border: 5px solid black;
    background-image: linear-gradient(red 20%,  yellow 20%, yellow 80%, red 80%);
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #FFF;
    text-shadow:  3px  3px 5px darkred,
                 -3px  3px 5px darkred,
                  3px -3px 5px darkred,
                 -3px -3px 5px darkred,
                  3px  0px 5px darkred,
                  0px  3px 5px darkred,
                 -3px  0px 5px darkred,
                  0px -3px 5px darkred;
    text-align: center;
}

nav {
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0;
}

nav table {
    width: 100%;
    background-color: yellow;
}

nav table, td {
    border: 5px solid black;
    border-collapse: collapse;
}

nav td {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

nav td:hover {
    background-color: #CCCC00;
    text-decoration: underline;
    cursor: pointer;
}

main {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

main h1 {
    padding: 10px;
    text-align: center;
    font-size: 40px;
}

main h2 {
    padding: 10px;
    text-align: center;
    font-size: 36px;
}

main p {
    font-size: 18px;
}

.inConstruction {
    text-align: center;
}

footer {
    background-color: yellow;
    border: 5px solid black;
    margin: 0px;
    padding: 0px;
}

footer p {
    margin: auto;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    width: 50%;
}