body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

main h1 {
    padding: 10px;
    text-align: center;
    font-size: 40px;
}

main p {
    font-size: 18px;
}

.inConstruction {
    text-align: center;
}