<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de los libros</title>
    <style>
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Lista de los libros</h1>

    <table>
        <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Description</th>
            <th>Author</th>
            <th>Edition</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.edition}"></td>
        </tr>
    </table>

    <a href="/">Volver a la pagina inicial</a>
</body>
</html>