<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro del libro</title>
</head>
<body>
    <form action="/new_book" method="post">
        Título del libro:
        <input type="text" name="title">
        <br>
        Descripción del libro:
        <input type="text" name="description">
        <br>
        Autor(es) del libro:
        <input type="text" name="author">
        <br>
        Edición del libro:
        <input type="number" name="edition">
        <br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>