<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
    <h1>¡Bienvenido a Libreria!</h1>
    <p>¡Bienvenido a la Libreria de Madrid! Aqui tú puedes prestar tu libro favorito, sea de ficción, sea técnico lo que tu quisieras.</p>

    <a href="/book/register_book_form">Clica aquí para cadastrar el nuevo libro.</a><br>
    <a href="/book/update_book_form">Clica aquí para atualizar el libro existente.</a><br>
    <a href="/book/books">Clica aquí para ver todos los libros.</a>
</body>
</html>