<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenido</title>
    </head>
    <body>
        <h1>¡Bienvenido a Libreria!</h1>
        <p>¡Bienvenido a la Libreria de Madrid! Aquí tú puedes prestar tu libro favorito, sea de ficción, sea técnico lo que tu quisieras.</p>

        <a th:href="@{html/insertBook.html}">Clica aquí para cadastrar el nuevo libro.</a><br>
        <a th:href="@{html/updateBook.html}">Clica aquí para atualizar el libro existente.</a><br>
        <a href="/book/books">Clica aquí para ver todos los libros.</a><br>
        <a th:href=@{html/bookInfo.html}>Clica aquí para pesquisar libro por identificación</a><br>
        <a th:href="@{html/deleteBook.html}">Clica aquí para deletar el libro por código</a>
    </body>
</html>